@import (reference) '~styles/adaptive';

.layout {
    margin: 0 auto;
    max-width: 1920px;
    min-height: 100%;
    padding-top: 50px;

    &__children-container {
        &_flex {
            display: flex;
            flex: 1;
        }
    }

    &__content {
        min-height: 100%;
        overflow-y: auto;

        @media @mobile {
            min-height: unset;
        }

        &_flex {
            display: flex;
            flex-direction: column;
        }
    }
}
