@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.project-slider-slide {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;

    &__description {
        margin-top: 5px;

        &::before {
            content: "•";
            margin-right: 10px;
        }
    }

    &__description-container {
        margin-top: 50px;
    }

    &__description-item {
        margin-top: 20px;
    }

    &__git-container {
        display: inline-block;
        margin-top: 50px;
    }

    &__git-icon {
        height: 64px;
        object-fit: cover;
        width: 64px;
    }

    &__header-container {
        margin-top: 50px;
    }

    &__image {
        height: 825px;
        object-fit: cover;
        width: 1110px;
    }
}
