@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';
@import (reference) '~styles/flex';

.project-slider {
    &__controls {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__controls-description {
        &_prev {
            margin-left: 20px;
        }

        &_next {
            margin-right: 20px;
        }
    }

    &__control-icon {
        color: @black;
        height: 25px;
        width: 25px;

        &_left {
            transform: rotate(180deg);
        }
    }

    &__control-button {
        .f_c();

        border-radius: 10px;
        cursor: pointer;
        margin: 0 20px;
        padding: 20px;

        @media @mobile {
            margin: 0 5px;
            padding: 10px;
        }

        &:hover {
            background-color: @blue;
            color: @white;

            .project-slider__control-icon {
                color: @white;
            }
        }
    }

    &__slider-container {
        margin-top: 50px;
    }
}
