@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.project-slider-slide {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;

    &__additional-info-item {
        margin-top: 10px;
    }

    &__description {
        margin-top: 5px;

        &::before {
            content: "•";
            margin-right: 10px;
        }
    }

    &__description-container {
        margin-top: 50px;
    }

    &__description-item {
        margin-top: 20px;
    }

    &__git-container {
        display: inline-block;
        margin-top: 50px;
        position: relative;
        z-index: 1;
    }

    &__git-icon {
        width: 64px;
    }

    &__header-container {
        margin-top: 50px;
    }

    &__image {
        max-width: 1110px;
        width: 100%;
    }

    &__badge-container {
        margin-top: 15px;
    }

    &__badge-update {
        background-color: @green;
        border-radius: 16px;
        color: @white;
        font-weight: 700;
        padding: 10px 20px;
    }

    &__project-link-container {
        margin-top: 50px;
    }

    &__project-icon {
        border-radius: 50%;
        height: 150px;
        object-fit: cover;
        width: 150px;
    }
}
