@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';

.create-font(
    @color: @default[@color];
    @font-family: @default[@font-family];
    @font-size: @default[@font-size];
    @line-height: @default[@line-height];
) {
    color: @color;
    font-family: @font-family;
    font-size: @font-size;
    line-height: @line-height;
}

@default: {
    @color: @black;
    @font-family: 'Noto Sans SC', sans-serif;
    @font-size: 16px;
    @line-height: 26px;
}

@font-face {
    font-family: 'Noto Sans SC';
    font-weight: 400;
    src: url('/src/fonts/Chivo-Regular.ttf');
}

.f_h1 {
    .create-font(
        @font-size: 40px;
        @line-height: 48px;
    );

    font-weight: 500;
}

.f_h2 {
    .create-font(@font-size: 60px; @line-height: 65px;);

    text-transform: uppercase;
}

.f_h3 {
    .create-font(@font-size: 44px; @line-height: 50px;);

    text-transform: uppercase;
}

.f_h4 {
    .create-font(@font-size: 24px; @line-height: 24px;);
}

.f_h5 {
    .create-font(@font-size: 14px; @line-height: 48px;);

    font-weight: 600;
}

.f_h6 {
    .create-font(@font-size: 20px; @line-height: 24px;);

    font-weight: 500;
    text-transform: capitalize;
}

.f_p {
    .create-font();
}
