@import (reference) '~styles/colors';

.home-page-content {
    &__content-section {
        margin-top: 50px;
    }

    &__tabs-container {
        display: flex;
        justify-content: center;
    }
}
