@import (reference) '~styles/adaptive';
@import (reference) '~styles/colors';
@import (reference) '~styles/position';

.card-project-header {
    text-align: center;

    &__additional-info-container {
        margin-top: 20px;
    }

    &__additional-info-item {
        &_bold {
            font-weight: 700;
        }
    }

    &__badge-container {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__git-container {
        display: inline-block;
        margin-top: 50px;
        position: relative;
        z-index: 1;
    }

    &__git-icon {
        width: 64px;
    }

    &__image {
        .absolute_fill();

        object-fit: cover;
    }

    &__image-container {
        line-height: 0;
        padding-bottom: 53%;
        position: relative;
    }

    &__link {
        .absolute_fill();
    }

    &__title-container {
        margin-top: 50px;
    }

    &__title-description {
        font-style: italic;
    }
}
