.home-page-header-social-links {
    display: flex;
    margin-top: 10px;

    &__socials-icon {
        width: 40px;

        &_vk {
            width: 34px;
        }
    }

    &__socials-item {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }
}
