@import "../vars.scss";

.About {
  height: 100%;
  background-color: $main-background;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  

  a {
    text-decoration: none;
    color: initial;
  }

  .UserFoto {
    height: 500px;    
    padding: 80px 0 50px;    

    img {
      height: 100%;      
      border-radius: 10%;
    }
  }

  .About-Text {
    text-align: center;

    h1 {
      margin: 5px 0;
    }

    .About-MainText {
      margin-top: 60px;
      padding: 0 80px;
      max-width: 550px;
    }
  }

  .MediaLinks {
    padding: 40px 0;
    text-align: center;
    p, img {
      margin: 10px 0;
    }
    &>p:first-child a {      
      cursor: initial;
    }
  }

}
