@import '../vars.scss';

.Menu {
  height: 30%;  
  display: grid;
  grid-template-rows: 150px 150px;
  grid-row-gap: 5px;

  .Item {    
    background-color: $main-background;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $menu_hover;
      cursor: pointer;
      color: #fff;
      img {
        display: none;
      }
      font-size: 20px;
    }
  }
}
