@import "../vars.scss";

.Menu {
  height: 100%;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-row-gap: 5px; 
  align-content: start;
  justify-content: center; 

  @media screen and (max-width: 1450px) {
    align-content: center;
  }

  .Item {    
    background-color: $main-background;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    min-width: 180px;

    &:hover {
      background-color: $menu_hover;   
      border-radius: 5px!important;        
      cursor: pointer;
      color: #fff;
      img {
        display: none;
      }
      font-size: 20px;
    }
  }
}
